body {
    color: white;
}
button:focus, textarea:focus, input:focus {
    outline: 0;
}

#main-text {
    height: 75vh;
    width: 100vw;
    text-align: center;
    background-color: #FF9FAB;
}

#main-text h1 {
    font-family: 'Sacramento', cursive;
    font-size: 12vmin;
    padding-top: 10vh;
}

#main-text span {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

#screen-select {
    height: 2vh;
}

#screen-select div {
    padding: 0;
    text-align: center;
}
#screen-select button {
    margin: 0 22px;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#screen-select svg {
    color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}
#screen-select svg:hover {
    color: rgba(255, 255, 255, 0.6);
}

#screen-select button:nth-child(1) svg {
    color: white;
}

#title, #user-input, #text-analysis, #history, #color-settings {
    height: 23vh;
    text-align: center;
    padding-top: 6vh;
}
#user-input, #text-analysis, #history, #color-settings {
    display: none;
}

#title {
    padding: 30px 20vw;
    font-family: serif;
    font-style: italic;
}

#text-analysis div {
    padding: 0;
}
#text-analysis textarea {
    padding: 7px;
    height: 10vh;
    width: 50%;
    color: #7c7c7c;
    font-size: 12px;
}
#text-analysis textarea::placeholder {
    color: #b5b5b5;
}

#user-input div span {
    padding: 0 20px;
}
#feelings-input {
    cursor: pointer;
    vertical-align: middle;
    width: 30%;
    margin-top: 10px;
}

#previous-emotions {
    display: flex;
    padding: 0 5vw;
}
#history button {
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 15px;
    padding: 6px;
    font-size: 10px;
    border: none;
    transition: 0.3s;
}
#history button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.emotional-snapshot {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border: 1px solid white;
}

#good-color-input, #bad-color-input {
    text-align: center;
    margin-top: 5px;
    padding: 7px;
    border: none;
}

#color-settings {
    display: none;
}